<ion-header>
  <ion-navbar [hidden]="true" *navbar >
    <ion-title>
      Principal
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page1" class="pagina">
  <div id="principal-container1" class="row">
    <div id="principal-container4" class="col">
      <p class="titulo" id="principal-heading6" style="color:#000000;text-align:center;">
        Bionic Bartender Experience
      </p>
    </div>

  </div>
  <div id="principal-container6">
    <div id="principal-markdown3" class="show-list-numbers-and-dots">
      <p class="texto_titulo" style="color:#000000;font-size:22px;">
        Escolha o drink de sua preferencia para ser preparado pelo bionic bartender
      </p>


  
    </div>
  </div>

  <div id="principal-container16" class="row">
      <ion-row wrap>
          <ion-col *ngFor="let item of lista_drinks | async" width-60>
            
             <ion-card class="cartao_estilo"  >
                <div class="cartao_fundo" >
                    <div color="none" id="principal-list-item16">
                        <div >
                          <img class="center" src="{{item.url}}" />
                        </div>
                    </div>
                  <div>
                      <h2 class="texto" >
                          {{item.title}}  <br> <button ion-button class="botao"  on-click="escolhaPedido(item)" > OK!  </button>
                      </h2 >
                      <p class="texto" > 
                        <!-- 
                          {{item.bebidas}} 
                         <br> Valor {{item.valor | currency:'USD':false}}-->
                      </p>
                  </div>
                </div>
          
              </ion-card>
          </ion-col>
      </ion-row>



    <!-- <div id="principal-container14" class="col" *ngFor="let item of lista_drinks | async"  >
      <ion-card id="principal-card24"   >
        <ion-list class="cartao" >
          <ion-item color="none" id="principal-list-item16">
            <ion-thumbnail item-left>
              <img src="assets/img/ct9WWTUsSkqtN4UoLHDF_Blackberry-Mojito.jpg" />
            </ion-thumbnail>
            <h2 class="texto" >
                {{item.title}}
            </h2 >
            <p class="texto" >
                {{item.bebidas}}  Valor {{item.valor | currency:'USD':false}}
            </p>
          </ion-item>

          <ion-item id="principal-list-item-container4">
            <div id="principal-markdown7" class="show-list-numbers-and-dots">
              <p  class="texto"  style="margin-top:0px;color:#000000;">
            
                     Escolhendo este Pedido
                     <button ion-button color="balanced"  on-click="escolhaPedido(item)" > Este!  </button>
          
              </p>
            </div>
          </ion-item>
        </ion-list>
      </ion-card>
    </div> -->
    

  </div>
  <div id="principal-container28" class="row">
    <div id="principal-container29" class="col">
      <div id="principal-markdown14" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
    
        </p>
      </div>
    </div>
    <div id="principal-container30" class="col">
      <button id="principal-button3" class="botao"  ion-button   on-click="goToDrinkPerson()">
        Drink Personalizado
      </button>
    </div>
  </div>
  <div id="principal-container31" class="row">
    <div id="principal-container32" class="col">
      <div id="principal-markdown15" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
           
        </p>
      </div>
      <div class="spacer" style="height:100px;" id="drinkPerson-spacer11"></div>
    </div>
    <div id="principal-container33" class="col">
     
    </div>
  </div>

</ion-content>
<ion-footer>
  <div class="bottom_bar">
  <!-- put some elements here -->
  <p class="botton_text texto_barra">Drink <strong>{{escolha}} </strong>
    <button  class="botao" id="fixedbutton" ion-button   on-click="goToNFCpage()"  [disabled]="inputDisabled"   >
      Confirmar Pedido
    </button>
  </p>

  </div>
</ion-footer>

