<ion-header>
  <ion-navbar [hidden]="true" *navbar >
    <ion-title>
      drinkPerson
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page3">
  <p class="titulo" id="principal-heading6" style="color:#000000;text-align:center;">
    Bionic Bartender Experience
  </p>
  <div class="spacer" style="height:20px;" id="drinkPerson-spacer9"></div>
  <div id="drinkPerson-container84" class="row">
    <div id="drinkPerson-container86" class="col">
      <p class="texto_titulo" id="drinkPerson-heading18" style="color:#000000;text-align:center;font-size: 22px;">
        Retornar aos drinks sugeridos
      </p>
    </div>
    <div id="drinkPerson-container85" class="col">
      <button id="drinkPerson-button12" ion-button class="botao" block on-click="goToPrincipal()">
        Retornar aos drinks sugeridos
      </button>
    </div>
  </div>
  <p class="texto_titulo" id="drinkPerson-heading16" style="color:#000000;text-align:center;font-size: 22px;">
    Selecione {{resta}} doses de bebidas para criar seu drink.
  </p>
 <!-- {{vetor | json}} -->
  <!-- <p *ngFor="let item of pos_bebidas" >
    {{item.tipo}}
  </p> -->
  <div id="drinkPerson-container60" class="row" *ngFor="let item of pos_bebidas | async"   >
    <div id="drinkPerson-container61" class="col">
      <ion-card id="drinkPerson-card29">
        <ion-list>
          <ion-item color="none" id="drinkPerson-list-item24">
            <ion-thumbnail item-left>
              <img src="{{item.url}}" />
            </ion-thumbnail>
            <h2 class="texto_titulo" >
             {{item.tipo}}
            </h2>
            <button ion-button class="botao"  on-click="escolhaBebida(item)" [disabled]="!inputDisabled"  >  OK!  </button>
          </ion-item>
        </ion-list>
      </ion-card>
    </div>


  </div>
 

  
  <div class="spacer" style="height:100px;" id="drinkPerson-spacer11"></div>
  <!-- <div id="drinkPerson-container69" class="row">
    <div id="drinkPerson-container71" class="col">
      <h4 id="drinkPerson-heading17" style="color:#000000;">
        1 Personalizado
      </h4>
       <p *ngFor="let item of vetor " > 
            {{item.tipo}}
      </p> 
    </div>
    <div id="drinkPerson-container70" class="col">
      <button id="drinkPerson-button11" ion-button class="botao" block on-click="goToNFCpage()">
        Confirmar Drink
      </button>
    </div>
  </div> -->
</ion-content>
<ion-footer>
  <div class="bottom_bar">
  <!-- put some elements here -->
  <p class="botton_text texto_barra">Drink <strong> Personalizado </strong>
    <button  class="botao" id="fixedbutton" ion-button   on-click="goToNFCpage()"  [disabled]="inputDisabled"   >
      Confirmar Pedido
    </button>
  </p>

  </div>
</ion-footer>